[submodule "client"]
	path = client
	url = https://github.com/MasatoraSakikoyama/supermarket_task_client.git
[submodule "server"]
	path = server
	url = https://github.com/MasatoraSakikoyama/supermarket_task_server.git
